<!DOCTYPE html>
<html>
  <head>
    <title>Register form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/register.css">
  </head>
  <body>
    <a href="/">Home</a>
    <form action="/register" method="post">
      <h1>Register Form</h1>
      <div class="formcontainer">
      <hr/>
      <div class="container">
        <label for="uname"><strong>First Name</strong></label>
        <input type="text" placeholder="Enter first Name" name="fname" required>
        <label for="uname"><strong>Last Name</strong></label>
        <input type="text" placeholder="Enter last Name" name="lname" required>
        <br>
        <br>
        <label for="uname"><strong>Email</strong></label> <br>
        <input type="email" placeholder="Enter Email" name="email" required>
        <br>
        <br>
        <label for="psw"><strong>Password</strong></label>
        <input type="password" placeholder="Enter Password" name="pass1" required>
        <label for="psw"><strong>Return on the Password</strong></label>
        <input type="password" placeholder="Enter same Password" name="pass2" required>
      </div>
      <button type="submit">Register</button>
    </form>
    <a href="/login">Need to Login ?</a>
  </body>
</html>