<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Home</title>
</head>
    <table>
        <a href="/">Home</a>
        <tr>
          <th>Flight Number</th>
        </tr>
        {% for f in flights %}
        <tr>
            <td><a href="/flight/{{f.flight}}">{{f.flight}}</a></td>
            <td><form action="/save/remove" method="post">
                <input type="hidden" name="num" value="{{f.flight}}">
                <button type="submit">Remove</button>
            </form></td>
        </tr>
        {% endfor %}
      </table>
</body>
</html>